In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Condensed Dataset.csv')

In [3]:
# Data Manipulation

In [4]:
df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,10,A-11,MapQuest,201.0,3,2016-02-08 08:14:42,2016-02-08 08:44:42,39.952812,-83.119293,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,20,A-21,MapQuest,201.0,2,2016-02-08 10:11:15,2016-02-08 10:41:15,40.052509,-82.882332,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
3,30,A-31,MapQuest,201.0,2,2016-02-08 16:16:08,2016-02-08 16:46:08,40.081459,-83.122398,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,40,A-41,MapQuest,201.0,2,2016-02-09 05:40:57,2016-02-09 06:10:57,39.447502,-84.191208,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night

In [5]:
print ("Rows     : " ,df.shape[0])
print ("Columns  : " ,df.shape[1])
print ("\nFeatures : \n" ,df.columns.tolist())
print ("\nMissing values :  ", df.isnull().sum().values.sum())
print ("\nUnique values :  \n",df.nunique())

Rows     :  297434
Columns  :  50

Features :
 ['Unnamed: 0', 'ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']

Missing values :   1180644

Unique values :
 Unnamed: 0               297434
ID                       297434
Source                        3
TMC                          20
Severity                      4
Start_Time               296010
End_Time                 296227
Start_Lat                195141
Start_Lng                193920
End_Lat                   53982
End_Lng                   54327
Distance(mi)               6124
Description              237955
Number                    17335
Street                    51907
Side                          2
City                       7734
County                     1401
State                        49
Zipcode                   75064
Country                       1
Timezone                      4
Airport_Code               1763
Weather_Timestamp        154145
Temperature(F)              712
Wind_Chill(F)               824
Humidity(%)                 100
Pressure(in)                872
Visibility(mi)               56
Wind_Direction               24
Wind_Speed(mph)              84
Precipitation(in)           152
Weather_Condition            87
Amenity                       2
Bump                          2
Crossing                      2
Give_Way                      2
Junction                      2
No_Exit                       2
Railway                       2
Roundabout                    2
Station                       2
Stop                          2
Traffic_Calming               2
Traffic_Signal                2
Turning_Loop                  1
Sunrise_Sunset                2
Civil_Twilight                2
Nautical_Twilight             2
Astronomical_Twilight         2
dtype: int64

In [6]:
df.isnull().sum()

Unnamed: 0                    0
ID                            0
Source                        0
TMC                       72807
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                  224627
End_Lng                  224627
Distance(mi)                  0
Description                   0
Number                   192299
Street                        0
Side                          0
City                          6
County                        0
State                         0
Zipcode                      85
Country                       0
Timezone                    304
Airport_Code                556
Weather_Timestamp          3533
Temperature(F)             5463
Wind_Chill(F)            185128
Humidity(%)                5777
Pressure(in)               4638
Visibility(mi)             6377
Wind_Direction             4359
Wind_Speed(mph)           43708
Precipitation(in)        199869
Weather_Condition          6453
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset                7
Civil_Twilight                7
Nautical_Twilight             7
Astronomical_Twilight         7
dtype: int64

In [7]:
df['Amenity'][:5]

0    False
1    False
2    False
3    False
4    False
Name: Amenity, dtype: bool

In [8]:
type(df['Amenity'][0])

numpy.bool_

In [9]:
boolean_cols = ['Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 
                'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
d = {False: "No", True: 'Yes'}
for i in boolean_cols:
    df[i] = df[i].map(d)

In [10]:
type(df['Amenity'][10])

str

In [11]:
type(df['End_Time'][0])

str

In [12]:
df['Start_Time'][0]

'2016-02-08 05:46:00'

In [13]:
df['Start_Time'][1]

'2016-02-08 08:14:42'

In [14]:
def getDateColumn(time):
    return time[:10]

def getTimeNumericColumn(time):
    return time[11:]

df['Start Date'] = [getDateColumn(t) for t in df['Start_Time']]
df['End Date'] = [getDateColumn(t) for t in df['End_Time']]
df['Start Time'] = [getTimeNumericColumn(t) for t in df['Start_Time']]
df['End Time'] = [getTimeNumericColumn(t) for t in df['End_Time']]

In [15]:
def getHour(time):
    return time[:2]

df['Start Hour'] = [getHour(t) for t in df['Start Time']]
df['End Hour'] = [getHour(t) for t in df['End Time']]

In [16]:
type(df['Start Hour'][0])

str

In [17]:
df.rename(columns = {'Start_Lat': 'Latitude', 'Start_Lng': 'Longitude'}, inplace=True)

In [18]:
from datetime import datetime

In [22]:
def getDayOfWeekColumn(time):
    return datetime.strptime(time, '%Y-%m-%d').date().strftime('%A')

df['Day Of Week'] = [getDayOfWeekColumn(t) for t in df['Start Date']]

In [23]:
df['Day Of Week'].value_counts()

Tuesday      54422
Friday       53768
Wednesday    53693
Thursday     52626
Monday       50741
Saturday     17045
Sunday       15139
Name: Day Of Week, dtype: int64

In [24]:
df['Start Date'].unique()

array(['2016-02-08', '2016-02-09', '2016-02-10', ..., '2017-05-29',
       '2017-05-30', '2017-05-31'], dtype=object)

In [25]:
df['Start Date'][0][:7]

'2016-02'

In [26]:
df['Start Date'][0][:4]

'2016'

In [27]:
def getMonthColumn(date):
    return date[:7]

def getYearColumn(date):
    return date[:4]

df['Month'] = [getMonthColumn(d) for d in df['Start_Time']]
df['Year'] = [getYearColumn(d) for d in df['Start_Time']]

In [28]:
df['Year'].unique()

array(['2016', '2017', '2019', '2018'], dtype=object)

In [29]:
df['Month'].unique()

array(['2016-02', '2016-03', '2016-06', '2016-07', '2016-08', '2016-11',
       '2016-12', '2017-01', '2016-10', '2016-09', '2016-04', '2016-05',
       '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
       '2019-12', '2019-11', '2019-10', '2019-09', '2019-08', '2019-07',
       '2019-06', '2019-05', '2019-04', '2019-03', '2019-02', '2019-01',
       '2018-12', '2018-11', '2018-10', '2018-09', '2018-08', '2018-07',
       '2018-06', '2018-05', '2018-04', '2018-03', '2018-02', '2018-01',
       '2017-12', '2017-11', '2017-10', '2017-09', '2017-08'],
      dtype=object)

In [30]:
df['Start_Time'][0]

'2016-02-08 05:46:00'

In [31]:
df['Start_Time'][0][5:7]

'02'

In [32]:
def getSeasonColumn(date):
    if date[5:7] == '12' or date[5:7] == '01' or date[5:7] == '02':
        return 'Winter'
    elif date[5:7] == '03' or date[5:7] == '04' or date[5:7] == '05':
        return 'Spring'
    elif date[5:7] == '06' or date[5:7] == '07' or date[5:7] == '08':
        return 'Summer'
    else:
        return 'Fall'

df['Season'] = [getSeasonColumn(d) for d in df['Start_Time']]

In [33]:
df['Season'].value_counts()

Fall      91606
Summer    72191
Winter    70817
Spring    62820
Name: Season, dtype: int64

In [34]:
df['Start_Time'][0]

'2016-02-08 05:46:00'

In [35]:
df['Start_Time'][0][11:13]

'05'

In [36]:
var = '12'
if var >= '00' and var < '12':
    print(var)

In [37]:
print(df['Start Hour'].min())
print(df['Start Hour'].max())

00
23

In [38]:
len(df['Start Hour'].value_counts().tolist())

24

In [39]:
df['Start_Time'][100][11:13]

'10'

In [40]:
def getPartOfDayColumn(date):
    if date[11:13] >= '06' and date[11:13] < '12':
        return 'Morning'
    elif date[11:13] >= '12' and date[11:13] < '17':
        return 'Afternoon'
    elif date[11:13] >= '17' and date[11:13] <'21':
        return 'Evening'
    else:
        return 'Night'
df['Part_Of_Day'] = [getPartOfDayColumn(d) for d in df['Start_Time']]

In [41]:
df['Start_Time'][1]

'2016-02-08 08:14:42'

In [42]:
df['End_Time'][1]

'2016-02-08 08:44:42'

In [43]:
(datetime.strptime(df['End_Time'][1], '%Y-%m-%d %H:%M:%S') - datetime.strptime(df['Start_Time'][1], '%Y-%m-%d %H:%M:%S')).seconds

1800

In [45]:
(datetime.strptime(df['End_Time'][1], '%Y-%m-%d %H:%M:%S') - datetime.strptime(df['Start_Time'][1], '%Y-%m-%d %H:%M:%S')).seconds/60

30.0

In [46]:
df['Start_Time'][7]

'2016-02-09 11:09:37'

In [47]:
df['End_Time'][7]

'2016-02-09 11:39:37'

In [48]:
(datetime.strptime(df['End_Time'][2], '%Y-%m-%d %H:%M:%S') - datetime.strptime(df['Start_Time'][2], '%Y-%m-%d %H:%M:%S')).seconds

1800

In [49]:
def getSecondsBetweenStartEndTime(s,e):
    return (datetime.strptime(e, '%Y-%m-%d %H:%M:%S') - datetime.strptime(s, '%Y-%m-%d %H:%M:%S')).seconds

df['Time_Elapsed_From_Accident(Seconds)'] = [getSecondsBetweenStartEndTime(start, end) for (start, end) in zip(df['Start_Time'], df['End_Time'])]

In [50]:
def getSecondsBetweenStartEndTime(s,e):
    return (datetime.strptime(e, '%Y-%m-%d %H:%M:%S') - datetime.strptime(s, '%Y-%m-%d %H:%M:%S')).seconds/60

df['Time_Elapsed_From_Accident(Minutes)'] = [getSecondsBetweenStartEndTime(start, end) for (start, end) in zip(df['Start_Time'], df['End_Time'])]

In [51]:
df['Time_Elapsed_From_Accident(Seconds)'][:15]

0     18840
1      1800
2      1800
3      1800
4      1800
5      1800
6      1800
7      1800
8      1800
9      1800
10     1800
11     1800
12     5880
13     3600
14     1800
Name: Time_Elapsed_From_Accident(Seconds), dtype: int64

In [52]:
df['Time_Elapsed_From_Accident(Minutes)'][:15]

0     314.0
1      30.0
2      30.0
3      30.0
4      30.0
5      30.0
6      30.0
7      30.0
8      30.0
9      30.0
10     30.0
11     30.0
12     98.0
13     60.0
14     30.0
Name: Time_Elapsed_From_Accident(Minutes), dtype: float64

In [53]:
df = df[['Unnamed: 0', 'ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time', 'Time_Elapsed_From_Accident(Seconds)', 
         'Time_Elapsed_From_Accident(Minutes)', 'Month', 'Year',
         'Start Date', 'End Date', 'Start Time', 'Season', 'Part_Of_Day',
         'End Time', 'Start Hour', 'End Hour', 'Day Of Week', 'Latitude', 'Longitude', 'End_Lat', 
         'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode', 'Country',
         'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 
         'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 
         'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 
         'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']]

In [54]:
df.columns

Index(['Unnamed: 0', 'ID', 'Source', 'TMC', 'Severity', 'Start_Time',
       'End_Time', 'Time_Elapsed_From_Accident(Seconds)',
       'Time_Elapsed_From_Accident(Minutes)', 'Month', 'Year', 'Start Date',
       'End Date', 'Start Time', 'Season', 'Part_Of_Day', 'End Time',
       'Start Hour', 'End Hour', 'Day Of Week', 'Latitude', 'Longitude',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297434 entries, 0 to 297433
Data columns (total 63 columns):
Unnamed: 0                             297434 non-null int64
ID                                     297434 non-null object
Source                                 297434 non-null object
TMC                                    224627 non-null float64
Severity                               297434 non-null int64
Start_Time                             297434 non-null object
End_Time                               297434 non-null object
Time_Elapsed_From_Accident(Seconds)    297434 non-null int64
Time_Elapsed_From_Accident(Minutes)    297434 non-null float64
Month                                  297434 non-null object
Year                                   297434 non-null object
Start Date                             297434 non-null object
End Date                               297434 non-null object
Start Time                             297434 non-null object
Season                                 297434 non-null object
Part_Of_Day                            297434 non-null object
End Time                               297434 non-null object
Start Hour                             297434 non-null object
End Hour                               297434 non-null object
Day Of Week                            297434 non-null object
Latitude                               297434 non-null float64
Longitude                              297434 non-null float64
End_Lat                                72807 non-null float64
End_Lng                                72807 non-null float64
Distance(mi)                           297434 non-null float64
Description                            297434 non-null object
Number                                 105135 non-null float64
Street                                 297434 non-null object
Side                                   297434 non-null object
City                                   297428 non-null object
County                                 297434 non-null object
State                                  297434 non-null object
Zipcode                                297349 non-null object
Country                                297434 non-null object
Timezone                               297130 non-null object
Airport_Code                           296878 non-null object
Weather_Timestamp                      293901 non-null object
Temperature(F)                         291971 non-null float64
Wind_Chill(F)                          112306 non-null float64
Humidity(%)                            291657 non-null float64
Pressure(in)                           292796 non-null float64
Visibility(mi)                         291057 non-null float64
Wind_Direction                         293075 non-null object
Wind_Speed(mph)                        253726 non-null float64
Precipitation(in)                      97565 non-null float64
Weather_Condition                      290981 non-null object
Amenity                                297434 non-null object
Bump                                   297434 non-null object
Crossing                               297434 non-null object
Give_Way                               297434 non-null object
Junction                               297434 non-null object
No_Exit                                297434 non-null object
Railway                                297434 non-null object
Roundabout                             297434 non-null object
Station                                297434 non-null object
Stop                                   297434 non-null object
Traffic_Calming                        297434 non-null object
Traffic_Signal                         297434 non-null object
Turning_Loop                           297434 non-null object
Sunrise_Sunset                         297427 non-null object
Civil_Twilight                         297427 non-null object
Nautical_Twilight                      297427 non-null object
Astronomical_Twilight                  297427 non-null object
dtypes: float64(15), int64(3), object(45)
memory usage: 143.0+ MB

In [57]:
df['Sunrise_Sunset'].value_counts()

Day      219472
Night     77955
Name: Sunrise_Sunset, dtype: int64

In [30]:
df['Civil_Twilight'].value_counts()

Day      234316
Night     63111
Name: Civil_Twilight, dtype: int64

In [31]:
df['Nautical_Twilight'].value_counts()

Day      249336
Night     48091
Name: Nautical_Twilight, dtype: int64

In [32]:
df['Astronomical_Twilight'].value_counts()

Day      260424
Night     37003
Name: Astronomical_Twilight, dtype: int64

In [33]:
df[df['Sunrise_Sunset'].isnull()]

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Month,Year,Start Date,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
14146,141460,A-141462,MapQuest,201.0,3,2016-06-22 09:46:05,2016-06-22 10:31:05,2016-06,2016,2016-06-22,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
35850,358500,A-358503,MapQuest,201.0,3,2017-03-18 08:40:32,2017-03-18 09:10:08,2017-03,2017,2017-03-18,...,No,No,No,No,Yes,No,NaN,NaN,NaN,NaN
111574,1115740,A-1115754,MapQuest,201.0,2,2019-02-13 07:07:48,2019-02-13 07:52:29,2019-02,2019,2019-02-13,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
112736,1127360,A-1127374,MapQuest,201.0,2,2019-02-19 09:31:32,2019-02-19 10:01:18,2019-02,2019,2019-02-19,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
232519,2325190,A-2325214,Bing,NaN,2,2016-08-22 06:51:45,2016-08-22 12:51:45,2016-08,2016,2016-08-22,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
232868,2328680,A-2328704,Bing,NaN,2,2016-09-01 09:14:56,2016-09-01 15:14:56,2016-09,2016,2016-09-01,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
278883,2788830,A-2788854,Bing,NaN,2,2018-04-09 19:18:06,2018-04-10 01:18:06,2018-04,2018,2018-04-09,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN

In [30]:
df[df['Start Hour'] == '08']['Sunrise_Sunset'].value_counts()

Day      28186
Night       14
Name: Sunrise_Sunset, dtype: int64

In [31]:
df[df['Start Hour'] == '09']['Sunrise_Sunset'].value_counts()

Day    17912
Name: Sunrise_Sunset, dtype: int64

In [36]:
df[df['Start Hour'] == '10']['Sunrise_Sunset'].value_counts()

Day    15845
Name: Sunrise_Sunset, dtype: int64

In [37]:
df[df['Start Hour'] == '06']['Sunrise_Sunset'].value_counts()

Night    11721
Day       5268
Name: Sunrise_Sunset, dtype: int64

In [38]:
df[df['Start Hour'] == '07']['Sunrise_Sunset'].value_counts()

Day      23314
Night     4110
Name: Sunrise_Sunset, dtype: int64

In [39]:
df[df['Start Hour'] == '18']['Sunrise_Sunset'].value_counts()

Day      9442
Night    7193
Name: Sunrise_Sunset, dtype: int64

In [40]:
df[df['Start Hour'] == '19']['Sunrise_Sunset'].value_counts()

Night    7207
Day      4372
Name: Sunrise_Sunset, dtype: int64

In [32]:
df[df['Sunrise_Sunset'].isnull()]

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Month,Year,Start Date,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
14146,141460,A-141462,MapQuest,201.0,3,2016-06-22 09:46:05,2016-06-22 10:31:05,2016-06,2016,2016-06-22,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
35850,358500,A-358503,MapQuest,201.0,3,2017-03-18 08:40:32,2017-03-18 09:10:08,2017-03,2017,2017-03-18,...,No,No,No,No,Yes,No,NaN,NaN,NaN,NaN
111574,1115740,A-1115754,MapQuest,201.0,2,2019-02-13 07:07:48,2019-02-13 07:52:29,2019-02,2019,2019-02-13,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
112736,1127360,A-1127374,MapQuest,201.0,2,2019-02-19 09:31:32,2019-02-19 10:01:18,2019-02,2019,2019-02-19,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
232519,2325190,A-2325214,Bing,NaN,2,2016-08-22 06:51:45,2016-08-22 12:51:45,2016-08,2016,2016-08-22,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
232868,2328680,A-2328704,Bing,NaN,2,2016-09-01 09:14:56,2016-09-01 15:14:56,2016-09,2016,2016-09-01,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
278883,2788830,A-2788854,Bing,NaN,2,2018-04-09 19:18:06,2018-04-10 01:18:06,2018-04,2018,2018-04-09,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN

In [33]:
df['Sunrise_Sunset'][14146]

nan

In [56]:
df['Sunrise_Sunset'][14146] = 'Day'
df['Civil_Twilight'][14146] = 'Day'
df['Nautical_Twilight'][14146] = 'Day'
df['Astronomical_Twilight'][14146] = 'Day'

df['Sunrise_Sunset'][112736] = 'Day'
df['Civil_Twilight'][112736] = 'Day'
df['Nautical_Twilight'][112736] = 'Day'
df['Astronomical_Twilight'][112736] = 'Day'

df['Sunrise_Sunset'][35850] = 'Day'
df['Civil_Twilight'][35850] = 'Day'
df['Nautical_Twilight'][35850] = 'Day'
df['Astronomical_Twilight'][35850] = 'Day'

df['Sunrise_Sunset'][111574] = 'Day'
df['Civil_Twilight'][111574] = 'Day'
df['Nautical_Twilight'][111574] = 'Day'
df['Astronomical_Twilight'][111574] = 'Day'

df['Sunrise_Sunset'][232519] = 'Night'
df['Civil_Twilight'][232519] = 'Night'
df['Nautical_Twilight'][232519] = 'Night'
df['Astronomical_Twilight'][232519] = 'Night'

df['Sunrise_Sunset'][232868] = 'Day'
df['Civil_Twilight'][232868] = 'Day'
df['Nautical_Twilight'][232868] = 'Day'
df['Astronomical_Twilight'][232868] = 'Day'

df['Sunrise_Sunset'][278883] = 'Night'
df['Civil_Twilight'][278883] = 'Night'
df['Nautical_Twilight'][278883] = 'Night'
df['Astronomical_Twilight'][278883] = 'Night'

C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\peech\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [57]:
def getTwilightColumn(sunrise, civil, nautical, astronomical):
    lst = [sunrise, civil, nautical, astronomical]
    total_day = 0
    total_night = 0
    for i in lst:
        if i == 'Day':
            total_day += 1
        else:
            total_night += 1
    if total_day > total_night:
        return 'Day'
    elif total_night > total_day:
        return 'Night'
    else:
        return sunrise

df['Twilight'] = [getTwilightColumn(s,c,n,a) for s,c,n,a in zip(df['Sunrise_Sunset'], df['Civil_Twilight'], df['Nautical_Twilight'], df['Astronomical_Twilight'])]

In [31]:
df['Twilight'].value_counts()

Day      234312
Night     63122
Name: Twilight, dtype: int64

In [58]:
df.isnull().sum()

Unnamed: 0                                  0
ID                                          0
Source                                      0
TMC                                     72807
Severity                                    0
Start_Time                                  0
End_Time                                    0
Time_Elapsed_From_Accident(Seconds)         0
Time_Elapsed_From_Accident(Minutes)         0
Month                                       0
Year                                        0
Start Date                                  0
End Date                                    0
Start Time                                  0
Season                                      0
Part_Of_Day                                 0
End Time                                    0
Start Hour                                  0
End Hour                                    0
Day Of Week                                 0
Latitude                                    0
Longitude                                   0
End_Lat                                224627
End_Lng                                224627
Distance(mi)                                0
Description                                 0
Number                                 192299
Street                                      0
Side                                        0
City                                        6
                                        ...
Timezone                                  304
Airport_Code                              556
Weather_Timestamp                        3533
Temperature(F)                           5463
Wind_Chill(F)                          185128
Humidity(%)                              5777
Pressure(in)                             4638
Visibility(mi)                           6377
Wind_Direction                           4359
Wind_Speed(mph)                         43708
Precipitation(in)                      199869
Weather_Condition                        6453
Amenity                                     0
Bump                                        0
Crossing                                    0
Give_Way                                    0
Junction                                    0
No_Exit                                     0
Railway                                     0
Roundabout                                  0
Station                                     0
Stop                                        0
Traffic_Calming                             0
Traffic_Signal                              0
Turning_Loop                                0
Sunrise_Sunset                              0
Civil_Twilight                              0
Nautical_Twilight                           0
Astronomical_Twilight                       0
Twilight                                    0
Length: 64, dtype: int64

In [59]:
df.isnull().sum().values.sum()

1180616

In [38]:
df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Month,Year,Start Date,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Twilight
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,2016-02,2016,2016-02-08,...,No,No,No,No,No,Night,Night,Night,Night,Night
1,10,A-11,MapQuest,201.0,3,2016-02-08 08:14:42,2016-02-08 08:44:42,2016-02,2016,2016-02-08,...,No,No,No,No,No,Day,Day,Day,Day,Day
2,20,A-21,MapQuest,201.0,2,2016-02-08 10:11:15,2016-02-08 10:41:15,2016-02,2016,2016-02-08,...,No,No,No,No,No,Day,Day,Day,Day,Day
3,30,A-31,MapQuest,201.0,2,2016-02-08 16:16:08,2016-02-08 16:46:08,2016-02,2016,2016-02-08,...,No,No,No,Yes,No,Day,Day,Day,Day,Day
4,40,A-41,MapQuest,201.0,2,2016-02-09 05:40:57,2016-02-09 06:10:57,2016-02,2016,2016-02-09,...,No,No,No,No,No,Night,Night,Night,Night,Night

In [39]:
df.tail()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Month,Year,Start Date,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Twilight
297429,2974290,A-2974314,Bing,NaN,3,2019-08-23 16:10:18,2019-08-23 16:39:03,2019-08,2019,2019-08-23,...,No,No,No,No,No,Day,Day,Day,Day,Day
297430,2974300,A-2974324,Bing,NaN,3,2019-08-23 10:32:30,2019-08-23 11:01:40,2019-08,2019,2019-08-23,...,No,No,No,No,No,Day,Day,Day,Day,Day
297431,2974310,A-2974334,Bing,NaN,2,2019-08-23 14:19:41,2019-08-23 14:47:28,2019-08,2019,2019-08-23,...,No,No,No,No,No,Day,Day,Day,Day,Day
297432,2974320,A-2974344,Bing,NaN,2,2019-08-23 16:26:06,2019-08-23 16:54:36,2019-08,2019,2019-08-23,...,No,No,No,No,No,Day,Day,Day,Day,Day
297433,2974330,A-2974354,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,2019-08,2019,2019-08-23,...,No,No,No,No,No,Day,Day,Day,Day,Day

In [34]:
len(df)

297434

In [42]:
df.to_csv('C:\\Users\\peech\\OneDrive\\Documents\\ITSS 4354 - Advanced Big Data Analytics\\ITSS 4354 Group Project\\New and Condensed Dataset.csv')

In [52]:
# Exporting dataset without any null values for Weather_Condition column

In [60]:
df_weather_not_null = df[df['Weather_Condition'].notnull()]

In [61]:
len(df_weather_not_null)

290981

In [62]:
df_weather_not_null.isnull().sum()

Unnamed: 0                                  0
ID                                          0
Source                                      0
TMC                                     70919
Severity                                    0
Start_Time                                  0
End_Time                                    0
Time_Elapsed_From_Accident(Seconds)         0
Time_Elapsed_From_Accident(Minutes)         0
Month                                       0
Year                                        0
Start Date                                  0
End Date                                    0
Start Time                                  0
Season                                      0
Part_Of_Day                                 0
End Time                                    0
Start Hour                                  0
End Hour                                    0
Day Of Week                                 0
Latitude                                    0
Longitude                                   0
End_Lat                                220062
End_Lng                                220062
Distance(mi)                                0
Description                                 0
Number                                 187911
Street                                      0
Side                                        0
City                                        6
                                        ...
Timezone                                    0
Airport_Code                                0
Weather_Timestamp                           0
Temperature(F)                           1000
Wind_Chill(F)                          179114
Humidity(%)                              1307
Pressure(in)                              346
Visibility(mi)                            690
Wind_Direction                            521
Wind_Speed(mph)                         38289
Precipitation(in)                      193985
Weather_Condition                           0
Amenity                                     0
Bump                                        0
Crossing                                    0
Give_Way                                    0
Junction                                    0
No_Exit                                     0
Railway                                     0
Roundabout                                  0
Station                                     0
Stop                                        0
Traffic_Calming                             0
Traffic_Signal                              0
Turning_Loop                                0
Sunrise_Sunset                              0
Civil_Twilight                              0
Nautical_Twilight                           0
Astronomical_Twilight                       0
Twilight                                    0
Length: 64, dtype: int64

In [63]:
df_weather_not_null.isnull().sum().values.sum()

1114212

In [46]:
df_weather_not_null.to_csv('C:\\Users\\peech\\OneDrive\\Documents\\ITSS 4354 - Advanced Big Data Analytics\\ITSS 4354 Group Project\\New and Condensed Dataset Weather Adjusted.csv')

In [58]:
# Exporting dataset without any null values for Weather_Condition, Pressure, Visibility, Humidity, Temperature columns

In [64]:
df_columns_not_null = df_weather_not_null[(df_weather_not_null['Temperature(F)'].notnull()) & (df_weather_not_null['Humidity(%)'].notnull()) &
                                         (df_weather_not_null['Pressure(in)'].notnull()) & (df_weather_not_null['Visibility(mi)'].notnull())]

In [65]:
len(df_columns_not_null)

288762

In [66]:
df_columns_not_null.isnull().sum()

Unnamed: 0                                  0
ID                                          0
Source                                      0
TMC                                     70300
Severity                                    0
Start_Time                                  0
End_Time                                    0
Time_Elapsed_From_Accident(Seconds)         0
Time_Elapsed_From_Accident(Minutes)         0
Month                                       0
Year                                        0
Start Date                                  0
End Date                                    0
Start Time                                  0
Season                                      0
Part_Of_Day                                 0
End Time                                    0
Start Hour                                  0
End Hour                                    0
Day Of Week                                 0
Latitude                                    0
Longitude                                   0
End_Lat                                218462
End_Lng                                218462
Distance(mi)                                0
Description                                 0
Number                                 186402
Street                                      0
Side                                        0
City                                        6
                                        ...
Timezone                                    0
Airport_Code                                0
Weather_Timestamp                           0
Temperature(F)                              0
Wind_Chill(F)                          177354
Humidity(%)                                 0
Pressure(in)                                0
Visibility(mi)                              0
Wind_Direction                            430
Wind_Speed(mph)                         37746
Precipitation(in)                      192454
Weather_Condition                           0
Amenity                                     0
Bump                                        0
Crossing                                    0
Give_Way                                    0
Junction                                    0
No_Exit                                     0
Railway                                     0
Roundabout                                  0
Station                                     0
Stop                                        0
Traffic_Calming                             0
Traffic_Signal                              0
Turning_Loop                                0
Sunrise_Sunset                              0
Civil_Twilight                              0
Nautical_Twilight                           0
Astronomical_Twilight                       0
Twilight                                    0
Length: 64, dtype: int64

In [67]:
df_columns_not_null.to_csv('C:\\Users\\peech\\OneDrive\\Documents\\ITSS 4354 - Advanced Big Data Analytics\\ITSS 4354 Group Project\\New and Condensed Dataset Columns Not Null.csv')

In [55]:
# EDA - df

In [56]:
df['Weather_Condition'].value_counts()

Clear                           80877
Mostly Cloudy                   41307
Overcast                        38278
Fair                            33474
Partly Cloudy                   29507
Scattered Clouds                20723
Light Rain                      13893
Cloudy                          11618
Light Snow                       4200
Haze                             3416
Rain                             3200
Fog                              2202
Heavy Rain                       1216
Light Drizzle                    1050
Snow                              493
Light Thunderstorms and Rain      480
Thunderstorm                      434
Fair / Windy                      413
Smoke                             377
Heavy Thunderstorms and Rain      238
Light Freezing Rain               234
Thunderstorms and Rain            228
Mist                              223
Patches of Fog                    223
Thunder in the Vicinity           221
T-Storm                           220
Mostly Cloudy / Windy             211
Drizzle                           211
Light Rain with Thunder           197
Cloudy / Windy                    196
                                ...
Drizzle and Fog                     5
Light Rain Shower                   5
Fog / Windy                         4
Blowing Dust / Windy                4
Sand / Dust Whirlwinds              3
Funnel Cloud                        3
Smoke / Windy                       3
Volcanic Ash                        3
Blowing Dust                        3
Heavy Rain Showers                  3
Small Hail                          3
Snow and Sleet                      2
Squalls                             2
Light Snow Showers                  2
Sleet                               2
Freezing Rain                       2
Light Haze                          2
Blowing Snow / Windy                2
Light Snow and Sleet                1
Light Thunderstorms and Snow        1
Heavy Freezing Drizzle              1
Snow Grains                         1
Heavy Snow / Windy                  1
Light Blowing Snow                  1
Wintry Mix / Windy                  1
Snow and Sleet / Windy              1
Sand                                1
Dust Whirls                         1
Thunder / Wintry Mix / Windy        1
Light Snow and Sleet / Windy        1
Name: Weather_Condition, Length: 87, dtype: int64

In [57]:
df['Start Hour'].value_counts()

08    28201
07    27425
17    22242
16    21321
09    17915
15    17683
06    16990
18    16635
10    15845
11    15450
14    15081
13    14092
12    13999
19    11580
05     8395
20     8165
21     5677
04     5333
22     4829
23     2687
00     2365
03     1900
02     1843
01     1781
Name: Start Hour, dtype: int64

In [58]:
df['End Hour'].value_counts()

08    25599
09    22528
18    19835
17    19697
07    17576
16    17406
10    16254
19    15628
15    15496
11    15224
12    15135
14    14823
13    14654
20    11906
21    10055
06     9348
22     8552
23     7158
05     5186
00     4696
04     3221
01     3094
02     2399
03     1964
Name: End Hour, dtype: int64

In [59]:
df['Day Of Week'].value_counts()

Tuesday      54422
Friday       53768
Wednesday    53693
Thursday     52626
Monday       50741
Saturday     17045
Sunday       15139
Name: Day Of Week, dtype: int64

In [60]:
df['Traffic_Signal'].value_counts()

No     247311
Yes     50123
Name: Traffic_Signal, dtype: int64

In [61]:
df['Severity'].mean()

2.362497226275409

In [62]:
df['Severity'].median()

2.0

In [63]:
df['State'].value_counts()

CA    66408
TX    29868
FL    22311
SC    14605
NC    14163
NY    13808
PA     9011
MI     8893
IL     8609
GA     8410
VA     8133
OR     7042
AZ     6273
MN     6269
WA     6103
TN     5856
OH     5626
LA     5280
OK     5131
NJ     4955
MD     4270
UT     4083
CO     4073
AL     3620
MA     3293
IN     3028
MO     2875
NE     2258
CT     2217
KY     1926
WI     1749
RI     1051
IA      997
NV      924
NH      730
KS      707
MS      610
NM      478
DE      452
DC      374
WV      245
ME      206
AR      170
ID      167
VT       72
WY       48
MT       47
SD        7
ND        3
Name: State, dtype: int64

In [64]:
df['State'].nunique()

49

In [65]:
len(df[df['State'] == 'AK'])

0

In [66]:
len(df[df['State'] == 'HI'])

0

In [67]:
len(df[df['State'] == 'DC'])

374

In [68]:
df[df['State'] == 'CA']['City'].value_counts()

Los Angeles        6519
Sacramento         2546
San Diego          2152
San Jose           1764
Oakland            1115
Riverside          1071
Long Beach          960
Anaheim             873
San Francisco       846
Corona              768
San Bernardino      742
Whittier            657
Ontario             610
Hayward             533
Fremont             518
Baldwin Park        487
Irvine              470
Gardena             445
Bakersfield         444
Tracy               423
Downey              417
Pomona              417
Santa Rosa          415
Fresno              412
Sherman Oaks        408
Cerritos            405
Pasadena            394
Santa Ana           372
Livermore           371
Stockton            365
                   ...
Lake Sherwood         1
Shoshone              1
Redway                1
Palm Springs          1
Brownsville           1
Ragged Point          1
Muir Beach            1
Woody                 1
Platina               1
Potter Valley         1
Cassel                1
Kneeland              1
Dunlap                1
Madeline Plains       1
Macdoel               1
Birds Landing         1
Cobb                  1
Windsor Hills         1
Rancho Mirage         1
Aliso Viejo           1
Weldon                1
McClellan             1
Forbestown            1
Landers               1
Trinity Center        1
Cherry Valley         1
Los Altos Hills       1
Monte Sereno          1
Carlotta              1
Ahwahnee              1
Name: City, Length: 984, dtype: int64

In [69]:
df[df['State'] == 'TX']['City'].value_counts()

Houston            9307
Austin             5891
Dallas             5798
San Antonio        2165
El Paso             951
Fort Worth          873
Arlington           287
Irving              262
Pflugerville        229
Mesquite            226
Grand Prairie       212
Manor               192
Spring              149
Richardson          146
Del Valle           136
Humble              117
Plano               115
Carrollton          111
Garland             109
Wichita Falls        84
Pasadena             69
Round Rock           64
Kingwood             63
Grapevine            62
Lewisville           61
Denton               60
Hurst                54
Katy                 50
Lancaster            48
Duncanville          48
                   ...
La Grange             1
Bishop                1
Killeen               1
Overton               1
Cibolo                1
Frankston             1
Littlefield           1
Bulverde              1
Highlands             1
Lorena                1
Roscoe                1
Saginaw               1
Mineral Wells         1
Los Fresnos           1
Rio Hondo             1
Howe                  1
Bonham                1
Queen City            1
Flatonia              1
Creedmoor             1
El Campo              1
Sonora                1
Fulshear              1
Carrizo Springs       1
Edcouch               1
Anna                  1
Uvalde                1
Imperial              1
Inez                  1
La Joya               1
Name: City, Length: 358, dtype: int64

In [70]:
df['City'].value_counts()

Houston                 9308
Charlotte               6791
Los Angeles             6519
Austin                  5903
Dallas                  5818
Raleigh                 3892
Atlanta                 3809
Miami                   3142
Oklahoma City           3096
Baton Rouge             3050
Nashville               2800
Sacramento              2546
Orlando                 2545
Seattle                 2412
Phoenix                 2356
San Antonio             2198
Minneapolis             2195
San Diego               2152
Richmond                1858
Indianapolis            1810
Omaha                   1771
San Jose                1764
Columbia                1690
Jacksonville            1676
Portland                1671
Saint Paul              1644
Denver                  1636
Chicago                 1526
Greenville              1492
Tulsa                   1479
                        ...
Alpena                     1
Muscoda                    1
Weyauwega                  1
Jemez Springs              1
Boalsburg                  1
Jellico                    1
Cunningham                 1
Giddings                   1
Centuria                   1
Gulliver                   1
Rumsey                     1
Rich Hill                  1
Forestdale                 1
Palm Springs               1
Magdalena                  1
Holly Pond                 1
Hauser                     1
Tunnelton                  1
Ledyard                    1
Florahome                  1
Gilman                     1
Forrest City               1
Nassawadox                 1
Caballo                    1
Wishon                     1
Warrens                    1
Chadds Ford                1
Gilmanton Iron Works       1
Glen Arm                   1
Mullan                     1
Name: City, Length: 7734, dtype: int64

In [71]:
df[(df['Severity'] == 3) | (df['Severity'] == 4)]['Weather_Condition'].value_counts()

Clear                           27170
Mostly Cloudy                   14211
Overcast                        13378
Partly Cloudy                    9621
Fair                             8210
Scattered Clouds                 7422
Light Rain                       4977
Cloudy                           3148
Light Snow                       1708
Rain                             1240
Haze                             1205
Fog                               582
Heavy Rain                        500
Light Drizzle                     371
Snow                              214
Light Thunderstorms and Rain      186
Thunderstorm                      172
Light Freezing Rain               123
Smoke                             119
Fair / Windy                      117
Heavy Thunderstorms and Rain      103
Light Rain with Thunder            88
Thunderstorms and Rain             85
T-Storm                            81
Thunder in the Vicinity            78
Mostly Cloudy / Windy              77
Drizzle                            72
Mist                               67
Patches of Fog                     66
Cloudy / Windy                     63
                                ...
Rain / Windy                        7
T-Storm / Windy                     7
N/A Precipitation                   6
Light Rain Showers                  6
Heavy T-Storm / Windy               5
Rain Showers                        5
Heavy Rain / Windy                  5
Ice Pellets                         4
Thunder / Windy                     3
Widespread Dust                     3
Light Drizzle / Windy               2
Blowing Snow / Windy                2
Wintry Mix / Windy                  1
Snow and Sleet                      1
Light Snow and Sleet / Windy        1
Heavy Rain Showers                  1
Small Hail                          1
Light Blowing Snow                  1
Sand / Dust Whirlwinds              1
Blowing Dust / Windy                1
Drizzle and Fog                     1
Light Haze                          1
Snow and Sleet / Windy              1
Light Snow and Sleet                1
Sleet                               1
Freezing Rain                       1
Snow / Windy                        1
Thunder / Wintry Mix / Windy        1
Fog / Windy                         1
Haze / Windy                        1
Name: Weather_Condition, Length: 74, dtype: int64

In [72]:
df[df['Severity'] == 4]['Weather_Condition'].value_counts()

Clear                           2720
Overcast                        1347
Mostly Cloudy                   1179
Fair                             953
Partly Cloudy                    741
Scattered Clouds                 644
Light Rain                       420
Cloudy                           345
Light Snow                       237
Fog                               81
Rain                              74
Light Drizzle                     51
Haze                              51
Snow                              42
Heavy Rain                        34
Drizzle                           17
T-Storm                           15
Light Freezing Rain               14
Fair / Windy                      12
Heavy Snow                        12
Thunderstorm                      11
Thunder in the Vicinity            9
Partly Cloudy / Windy              7
Mist                               7
Mostly Cloudy / Windy              7
Cloudy / Windy                     6
Smoke                              6
Shallow Fog                        6
Light Thunderstorms and Rain       6
Light Freezing Fog                 5
Patches of Fog                     4
Blowing Snow                       4
Thunderstorms and Rain             4
Light Snow / Windy                 3
Light Freezing Drizzle             3
Light Rain with Thunder            3
Light Rain / Windy                 3
Showers in the Vicinity            2
Thunder                            2
Heavy T-Storm                      1
Small Hail                         1
Wintry Mix / Windy                 1
Light Ice Pellets                  1
Heavy Drizzle                      1
Heavy Rain / Windy                 1
Wintry Mix                         1
T-Storm / Windy                    1
Heavy Thunderstorms and Rain       1
Light Rain Showers                 1
Name: Weather_Condition, dtype: int64

In [73]:
df[(df['Severity'] == 3) | (df['Severity'] == 4)]['City'].value_counts()

Los Angeles           2708
Atlanta               2414
Dallas                2212
Houston               2126
Miami                 1190
Jacksonville          1133
San Diego             1039
Minneapolis           1000
Saint Paul             832
Denver                 797
Chicago                781
Detroit                770
Nashville              766
Austin                 730
Seattle                714
Phoenix                701
Louisville             683
Saint Louis            673
Raleigh                660
Oakland                646
Fort Lauderdale        613
Fort Worth             603
Bronx                  582
San Antonio            577
Sacramento             571
Columbus               561
Tampa                  560
Richmond               541
Columbia               535
San Jose               531
                      ...
Salado                   1
Larwill                  1
Palm Harbor              1
Kingsley                 1
Tullahoma                1
Shadyside                1
Evansdale                1
North Creek              1
Tracys Landing           1
Lamoni                   1
Dardanelle               1
Piffard                  1
Foristell                1
Van Wert                 1
Rockaway Beach           1
Delran                   1
Nunda                    1
Hobbs                    1
New Concord              1
Mount Union              1
McMinnville              1
Shoemakersville          1
Hurricane Mills          1
Cobleskill               1
Garden Prairie           1
Cold Spring Harbor       1
New Lisbon               1
Middle River             1
Barnhart                 1
Mullan                   1
Name: City, Length: 5089, dtype: int64

In [74]:
df['Distance(mi)'].max()

138.562

In [75]:
df['Distance(mi)'].median()

0.0

In [76]:
df['Distance(mi)'].mean()

0.2874801064447822

In [77]:
df[df['Distance(mi)'] == df['Distance(mi)'].max()]['City']

279851    Ontario
Name: City, dtype: object

In [78]:
df['Weather_Condition'].nunique()

87

In [79]:
for i in boolean_cols:
    print(df[i].value_counts())

No     293893
Yes      3541
Name: Amenity, dtype: int64
No     297386
Yes        48
Name: Bump, dtype: int64
No     276630
Yes     20804
Name: Crossing, dtype: int64
No     296697
Yes       737
Name: Give_Way, dtype: int64
No     273621
Yes     23813
Name: Junction, dtype: int64
No     297087
Yes       347
Name: No_Exit, dtype: int64
No     294945
Yes      2489
Name: Railway, dtype: int64
No     297416
Yes        18
Name: Roundabout, dtype: int64
No     291692
Yes      5742
Name: Station, dtype: int64
No     293400
Yes      4034
Name: Stop, dtype: int64
No     297310
Yes       124
Name: Traffic_Calming, dtype: int64
No     247311
Yes     50123
Name: Traffic_Signal, dtype: int64
No    297434
Name: Turning_Loop, dtype: int64

In [80]:
# EDA - df_weather_not_null

In [81]:
df_weather_not_null.describe()

,Unnamed: 0,TMC,Severity,Latitude,Longitude,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.909810e+05,220062.000000,290981.000000,290981.000000,290981.000000,70919.000000,70919.000000,290981.000000,103070.000000,289981.000000,111867.000000,289674.000000,290635.000000,290291.000000,252692.000000,96996.000000
mean,1.484503e+06,207.789918,2.360697,36.480817,-95.479402,37.566549,-100.043415,0.285093,5821.918104,62.381167,51.377116,65.397623,29.831405,9.153881,8.293982,0.019798
std,8.582048e+05,20.126705,0.542055,4.934076,17.200841,5.024527,18.409256,1.510321,11777.867113,18.758840,25.169375,22.558904,0.719931,2.874570,4.872707,0.224355
min,0.000000e+00,200.000000,1.000000,24.560688,-124.623833,24.571240,-124.497419,0.000000,1.000000,-29.900000,-53.200000,1.000000,0.300000,0.000000,0.000000,0.000000
25%,7.413300e+05,201.000000,2.000000,33.541580,-117.302010,33.940680,-118.291911,0.000000,837.000000,50.000000,32.000000,49.000000,29.820000,10.000000,4.600000,0.000000
50%,1.481790e+06,201.000000,2.000000,35.828503,-90.269028,37.891270,-96.655310,0.000000,2723.000000,64.400000,54.000000,68.000000,29.980000,10.000000,7.000000,0.000000
75%,2.227290e+06,201.000000,3.000000,40.408409,-80.955902,41.430099,-82.389041,0.010000,6999.000000,76.000000,73.000000,84.000000,30.110000,10.000000,10.400000,0.000000
max,2.974330e+06,406.000000,4.000000,49.000260,-67.606864,49.000760,-67.626576,138.562000,852599.000000,140.000000,115.000000,100.000000,33.040000,80.000000,175.000000,10.140000

In [82]:
df_weather_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290981 entries, 0 to 297433
Data columns (total 58 columns):
Unnamed: 0               290981 non-null int64
ID                       290981 non-null object
Source                   290981 non-null object
TMC                      220062 non-null float64
Severity                 290981 non-null int64
Start_Time               290981 non-null object
End_Time                 290981 non-null object
Start Date               290981 non-null object
End Date                 290981 non-null object
Start Time               290981 non-null object
End Time                 290981 non-null object
Start Hour               290981 non-null object
End Hour                 290981 non-null object
Day Of Week              290981 non-null object
Latitude                 290981 non-null float64
Longitude                290981 non-null float64
End_Lat                  70919 non-null float64
End_Lng                  70919 non-null float64
Distance(mi)             290981 non-null float64
Description              290981 non-null object
Number                   103070 non-null float64
Street                   290981 non-null object
Side                     290981 non-null object
City                     290975 non-null object
County                   290981 non-null object
State                    290981 non-null object
Zipcode                  290981 non-null object
Country                  290981 non-null object
Timezone                 290981 non-null object
Airport_Code             290981 non-null object
Weather_Timestamp        290981 non-null object
Temperature(F)           289981 non-null float64
Wind_Chill(F)            111867 non-null float64
Humidity(%)              289674 non-null float64
Pressure(in)             290635 non-null float64
Visibility(mi)           290291 non-null float64
Wind_Direction           290460 non-null object
Wind_Speed(mph)          252692 non-null float64
Precipitation(in)        96996 non-null float64
Weather_Condition        290981 non-null object
Amenity                  290981 non-null object
Bump                     290981 non-null object
Crossing                 290981 non-null object
Give_Way                 290981 non-null object
Junction                 290981 non-null object
No_Exit                  290981 non-null object
Railway                  290981 non-null object
Roundabout               290981 non-null object
Station                  290981 non-null object
Stop                     290981 non-null object
Traffic_Calming          290981 non-null object
Traffic_Signal           290981 non-null object
Turning_Loop             290981 non-null object
Sunrise_Sunset           290981 non-null object
Civil_Twilight           290981 non-null object
Nautical_Twilight        290981 non-null object
Astronomical_Twilight    290981 non-null object
Twilight                 290981 non-null object
dtypes: float64(14), int64(2), object(42)
memory usage: 131.0+ MB

In [83]:
df_weather_not_null.isnull().sum()

Unnamed: 0                    0
ID                            0
Source                        0
TMC                       70919
Severity                      0
Start_Time                    0
End_Time                      0
Start Date                    0
End Date                      0
Start Time                    0
End Time                      0
Start Hour                    0
End Hour                      0
Day Of Week                   0
Latitude                      0
Longitude                     0
End_Lat                  220062
End_Lng                  220062
Distance(mi)                  0
Description                   0
Number                   187911
Street                        0
Side                          0
City                          6
County                        0
State                         0
Zipcode                       0
Country                       0
Timezone                      0
Airport_Code                  0
Weather_Timestamp             0
Temperature(F)             1000
Wind_Chill(F)            179114
Humidity(%)                1307
Pressure(in)                346
Visibility(mi)              690
Wind_Direction              521
Wind_Speed(mph)           38289
Precipitation(in)        193985
Weather_Condition             0
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset                0
Civil_Twilight                0
Nautical_Twilight             0
Astronomical_Twilight         0
Twilight                      0
dtype: int64

In [84]:
df_weather_not_null[(df_weather_not_null['Severity'] == 3) | (df_weather_not_null['Severity'] == 4)]['Visibility(mi)'].median()

10.0

In [85]:
df_weather_not_null[(df_weather_not_null['Severity'] == 1) | (df_weather_not_null['Severity'] == 2)]['Visibility(mi)'].median()

10.0

In [86]:
df_weather_not_null[(df_weather_not_null['Severity'] == 3) | (df_weather_not_null['Severity'] == 4)]['Precipitation(in)'].mean()

0.02657651760490426

In [87]:
df_weather_not_null[(df_weather_not_null['Severity'] == 1) | (df_weather_not_null['Severity'] == 2)]['Precipitation(in)'].mean()

0.016902898337500222

In [88]:
df_weather_not_null['City'].value_counts()

Houston              9094
Charlotte            6778
Los Angeles          6497
Austin               5845
Dallas               5787
Raleigh              3886
Atlanta              3792
Miami                3127
Oklahoma City        3091
Baton Rouge          3042
Nashville            2797
Sacramento           2533
Orlando              2529
Seattle              2411
Phoenix              2281
San Antonio          2192
Minneapolis          2190
San Diego            2152
Indianapolis         1782
Richmond             1766
Omaha                1764
San Jose             1757
Portland             1667
Jacksonville         1667
Columbia             1663
Denver               1629
Saint Paul           1620
Chicago              1524
Greenville           1487
Tulsa                1477
                     ...
Hartsdale               1
Summersville            1
Shavertown              1
Fort Ripley             1
Bald Knob               1
Hosston                 1
Neodesha                1
Rough and Ready         1
Center Harbor           1
Mecca                   1
Owego                   1
New Concord             1
Hobbs                   1
Walworth                1
Brogue                  1
Champions Gate          1
Sikeston                1
Springtown              1
Larsen                  1
Pine Bush               1
Aspers                  1
Edgar                   1
Piffard                 1
Mardela Springs         1
Middlesboro             1
Sellersville            1
Candor                  1
South Londonderry       1
Searcy                  1
Mullan                  1
Name: City, Length: 7605, dtype: int64

In [89]:
df_weather_not_null[(df_weather_not_null['Severity'] == 3) | (df_weather_not_null['Severity'] == 4)]['City'].value_counts()

Los Angeles             2697
Atlanta                 2403
Dallas                  2196
Houston                 2087
Miami                   1182
Jacksonville            1126
San Diego               1039
Minneapolis              995
Saint Paul               820
Denver                   794
Chicago                  779
Detroit                  769
Nashville                765
Austin                   721
Seattle                  714
Phoenix                  688
Louisville               683
Saint Louis              670
Raleigh                  658
Oakland                  646
Fort Lauderdale          611
Bronx                    581
San Antonio              575
Sacramento               566
Columbus                 556
Tampa                    532
San Jose                 530
Richmond                 522
Columbia                 521
Long Beach               521
                        ...
Clover                     1
Glorieta                   1
Coupland                   1
Nedrow                     1
Lithia                     1
Viola                      1
Haines                     1
Baraboo                    1
Freeman                    1
Florham Park               1
Pittsboro                  1
Coalgate                   1
Weare                      1
Castleberry                1
Arroyo Grande              1
West Sand Lake             1
Rappahannock Academy       1
Danforth                   1
Van Etten                  1
Gum Spring                 1
Gasport                    1
Rayland                    1
Green Cove Springs         1
Good Hope                  1
Bridport                   1
West Contra Costa          1
Lemont Furnace             1
Selbyville                 1
Gilchrist                  1
Mullan                     1
Name: City, Length: 5003, dtype: int64

In [42]:
# EDA - df_columns_not_null

In [43]:
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
# Website may be useful: 
# https://datascience.stackexchange.com/questions/17759/encoding-features-like-month-and-hour-as-categorial-or-numeric

In [45]:
df_columns_not_null.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Month,Year,Start Date,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Twilight
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,2016-02,2016,2016-02-08,...,No,No,No,No,No,Night,Night,Night,Night,Night
1,10,A-11,MapQuest,201.0,3,2016-02-08 08:14:42,2016-02-08 08:44:42,2016-02,2016,2016-02-08,...,No,No,No,No,No,Day,Day,Day,Day,Day
2,20,A-21,MapQuest,201.0,2,2016-02-08 10:11:15,2016-02-08 10:41:15,2016-02,2016,2016-02-08,...,No,No,No,No,No,Day,Day,Day,Day,Day
3,30,A-31,MapQuest,201.0,2,2016-02-08 16:16:08,2016-02-08 16:46:08,2016-02,2016,2016-02-08,...,No,No,No,Yes,No,Day,Day,Day,Day,Day
4,40,A-41,MapQuest,201.0,2,2016-02-09 05:40:57,2016-02-09 06:10:57,2016-02,2016,2016-02-09,...,No,No,No,No,No,Night,Night,Night,Night,Night

In [46]:
len(df_columns_not_null)

288762

In [47]:
df_columns_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288762 entries, 0 to 297433
Data columns (total 60 columns):
Unnamed: 0               288762 non-null int64
ID                       288762 non-null object
Source                   288762 non-null object
TMC                      218462 non-null float64
Severity                 288762 non-null int64
Start_Time               288762 non-null object
End_Time                 288762 non-null object
Month                    288762 non-null object
Year                     288762 non-null object
Start Date               288762 non-null object
End Date                 288762 non-null object
Start Time               288762 non-null object
End Time                 288762 non-null object
Start Hour               288762 non-null object
End Hour                 288762 non-null object
Day Of Week              288762 non-null object
Latitude                 288762 non-null float64
Longitude                288762 non-null float64
End_Lat                  70300 non-null float64
End_Lng                  70300 non-null float64
Distance(mi)             288762 non-null float64
Description              288762 non-null object
Number                   102360 non-null float64
Street                   288762 non-null object
Side                     288762 non-null object
City                     288756 non-null object
County                   288762 non-null object
State                    288762 non-null object
Zipcode                  288762 non-null object
Country                  288762 non-null object
Timezone                 288762 non-null object
Airport_Code             288762 non-null object
Weather_Timestamp        288762 non-null object
Temperature(F)           288762 non-null float64
Wind_Chill(F)            111408 non-null float64
Humidity(%)              288762 non-null float64
Pressure(in)             288762 non-null float64
Visibility(mi)           288762 non-null float64
Wind_Direction           288332 non-null object
Wind_Speed(mph)          251016 non-null float64
Precipitation(in)        96308 non-null float64
Weather_Condition        288762 non-null object
Amenity                  288762 non-null object
Bump                     288762 non-null object
Crossing                 288762 non-null object
Give_Way                 288762 non-null object
Junction                 288762 non-null object
No_Exit                  288762 non-null object
Railway                  288762 non-null object
Roundabout               288762 non-null object
Station                  288762 non-null object
Stop                     288762 non-null object
Traffic_Calming          288762 non-null object
Traffic_Signal           288762 non-null object
Turning_Loop             288762 non-null object
Sunrise_Sunset           288762 non-null object
Civil_Twilight           288762 non-null object
Nautical_Twilight        288762 non-null object
Astronomical_Twilight    288762 non-null object
Twilight                 288762 non-null object
dtypes: float64(14), int64(2), object(44)
memory usage: 134.4+ MB

In [48]:
df_columns_not_null.describe()

,Unnamed: 0,TMC,Severity,Latitude,Longitude,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.887620e+05,218462.000000,288762.000000,288762.000000,288762.000000,70300.000000,70300.000000,288762.000000,102360.000000,288762.000000,111408.000000,288762.000000,288762.000000,288762.000000,251016.000000,96308.000000
mean,1.484594e+06,207.777028,2.360383,36.487769,-95.450139,37.576958,-100.015281,0.284125,5806.296766,62.400056,51.413367,65.392361,29.831950,9.153878,8.297456,0.017938
std,8.577917e+05,20.100898,0.541732,4.934646,17.188322,5.024891,18.411390,1.503742,11776.202241,18.752516,25.167044,22.557991,0.716343,2.859102,4.870737,0.179270
min,0.000000e+00,200.000000,1.000000,24.560688,-124.623833,24.571240,-124.497419,0.000000,1.000000,-27.900000,-53.200000,1.000000,2.990000,0.000000,0.000000,0.000000
25%,7.419325e+05,201.000000,2.000000,33.545158,-117.296121,33.941942,-118.293950,0.000000,834.000000,50.000000,32.000000,49.000000,29.820000,10.000000,4.600000,0.000000
50%,1.481335e+06,201.000000,2.000000,35.834667,-90.226112,37.902310,-96.623050,0.000000,2715.000000,64.400000,54.000000,68.000000,29.980000,10.000000,7.000000,0.000000
75%,2.226528e+06,201.000000,3.000000,40.422672,-80.953381,41.460368,-82.382490,0.010000,6998.000000,76.000000,73.000000,84.000000,30.110000,10.000000,10.400000,0.000000
max,2.974330e+06,406.000000,4.000000,49.000260,-67.606864,49.000760,-67.626576,138.562000,852599.000000,140.000000,115.000000,100.000000,33.040000,80.000000,175.000000,10.140000

In [49]:
df_columns_not_null['State'].value_counts()

CA    64326
TX    29010
FL    21799
SC    14209
NC    14044
NY    13531
PA     8845
MI     8844
IL     8573
GA     8227
VA     7623
OR     6896
MN     6139
WA     6029
AZ     5991
TN     5793
OH     5577
LA     5237
OK     5075
NJ     4716
CO     3996
UT     3789
AL     3574
MD     3298
MA     3004
IN     2955
MO     2804
NE     2238
CT     2200
KY     1916
WI     1738
RI     1007
IA      937
NV      911
NH      719
MS      594
NM      478
KS      455
DE      444
DC      299
WV      240
ME      198
ID      160
AR      155
VT       71
WY       46
MT       43
SD        7
ND        2
Name: State, dtype: int64

In [50]:
df_columns_not_null['City'].value_counts()

Houston                  9085
Charlotte                6776
Los Angeles              6465
Dallas                   5769
Austin                   5747
Raleigh                  3885
Atlanta                  3781
Miami                    3101
Oklahoma City            3087
Baton Rouge              3035
Nashville                2797
Orlando                  2527
Sacramento               2520
Seattle                  2404
Phoenix                  2277
Minneapolis              2190
San Antonio              2178
San Diego                2143
Indianapolis             1776
Richmond                 1765
Omaha                    1756
San Jose                 1748
Portland                 1666
Jacksonville             1658
Columbia                 1650
Denver                   1626
Saint Paul               1610
Chicago                  1524
Greenville               1484
Tulsa                    1475
                         ...
Edgecomb                    1
Horseheads                  1
Zephyr Cove                 1
Charlotte Court House       1
Clay                        1
Broxton                     1
Lund                        1
Blandon                     1
New Franken                 1
Moselle                     1
West Farmington             1
Rural Valley                1
Sagamore Beach              1
Hayfield                    1
Wattsburg                   1
Imbler                      1
Rising Fawn                 1
Snowmass                    1
Shoemakersville             1
Manzanola                   1
Star                        1
Portville                   1
Amboy                       1
Morenci                     1
Brinson                     1
Byromville                  1
Mc Alisterville             1
English                     1
Fort Blackmore              1
Alexandria Bay              1
Name: City, Length: 7571, dtype: int64

In [53]:
len(df_columns_not_null[(df_columns_not_null['City'] == 'Houston') & (df_columns_not_null['State'] =='TX')])

9084

In [56]:
len(df_columns_not_null[(df_columns_not_null['City'] == 'Charlotte') & (df_columns_not_null['State'] =='NC')])

6763

In [59]:
len(df_columns_not_null[(df_columns_not_null['City'] == 'Los Angeles') & (df_columns_not_null['State'] =='CA')])

6465

In [60]:
df_columns_not_null[(df_columns_not_null['Severity'] == 3) | (df_columns_not_null['Severity'] == 4)]['City'].value_counts()

Los Angeles              2685
Atlanta                  2396
Dallas                   2188
Houston                  2086
Miami                    1168
Jacksonville             1118
San Diego                1034
Minneapolis               995
Saint Paul                815
Denver                    794
Chicago                   779
Nashville                 765
Detroit                   763
Seattle                   714
Austin                    710
Phoenix                   688
Louisville                683
Saint Louis               669
Raleigh                   658
Oakland                   646
Fort Lauderdale           610
Bronx                     581
San Antonio               570
Sacramento                562
Columbus                  556
San Jose                  525
Richmond                  521
Long Beach                520
Columbia                  519
Tampa                     511
                         ...
Mount Hood Parkdale         1
Arabi                       1
Mount Carroll               1
Mukilteo                    1
Helper                      1
Mullica Hill                1
Texola                      1
Bozeman                     1
Duson                       1
East Chicago                1
Opelousas                   1
Rayland                     1
Schuylerville               1
Cold Spring Harbor          1
Dorchester Center           1
Lomira                      1
Cornwall                    1
Fort Benton                 1
Township 12 Paw Creek       1
Cuervo                      1
Kalispell                   1
Roachdale                   1
Zuni                        1
Gresham                     1
Brundidge                   1
Loganton                    1
Brownstown                  1
Blountsville                1
Addyston                    1
Blair                       1
Name: City, Length: 4978, dtype: int64

In [63]:
len(df_columns_not_null[((df_columns_not_null['Severity'] == 3) | (df_columns_not_null['Severity'] == 4)) &
                   (df_columns_not_null['City'] == 'Los Angeles') & (df_columns_not_null['State'] == 'CA')])

2685

In [65]:
len(df_columns_not_null[((df_columns_not_null['Severity'] == 3) | (df_columns_not_null['Severity'] == 4)) &
                   (df_columns_not_null['City'] == 'Atlanta') & (df_columns_not_null['State'] == 'GA')])

2396

In [68]:
len(df_columns_not_null[((df_columns_not_null['Severity'] == 3) | (df_columns_not_null['Severity'] == 4)) &
                   (df_columns_not_null['City'] == 'Dallas') & (df_columns_not_null['State'] == 'TX')])

2184